<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <footer th:fragment="footer">
        <!-- 通用js -->
        <!--<script type="text/javascript" src="../../static/layui/layui.all.js" th:src="@{/layui/layui.all.js}"></script>-->
        <script type="text/javascript" src="../../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
        <script type="text/javascript" src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" src="../../static/myJs/layuiUtil.js" th:src="@{/myJs/layuiUtil.js}"></script>
        <script type="text/javascript" src="../../static/myJs/main.js" th:src="@{/myJs/main.js}"></script>
        <script type="text/javascript" src="../../static/myJs/public.js" th:src="@{/myJs/public.js}"></script>
    </footer>
</body>
</html>