<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <div th:fragment="header">
        <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all" />
        <link rel="stylesheet" href="../../static/mycss/font.css" th:href="@{/mycss/font.css}" media="all" />
        <link rel="stylesheet" href="../../static/mycss/dyl.css" th:href="@{/mycss/dyl.css}" media="all" />
        <link rel="stylesheet" href="../../static/mycss/main.css" th:href="@{/mycss/main.css}" media="all" />
    </div>
</body>
</html>