<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" href="../../../static/mycss/public.css" th:href="@{/mycss/public.css}" media="all" />
</head>
<body >
<form class="layui-form" th:action="@{/acl/save}" style="width:80%;padding-top: 10px;" >
	<input type="hidden" name="id" th:value="${acl?.id}"/>
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">权限名称</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" name="name" th:value="${acl?.name}" lay-verify="required" placeholder="请输入权限名称">
		</div>
	</div>
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">所属权限模块</label>
		<div class="layui-input-block">
            <input type="text" id="acl_select_tree"  name="aclModuleId" th:value="${acl?.aclModuleId}" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item layui-row layui-col-xs12">
		<label class="layui-form-label">URL</label>
		<div class="layui-input-block">
			<input type="text" class="layui-input" name="url" th:value="${acl?.url}" lay-verify="required" placeholder="请输入访问路径">
		</div>
	</div>
	<div class="layui-row">
		<div class="magb15 layui-col-md4 layui-col-xs12">
			<label class="layui-form-label">类型</label>
			<div class="layui-input-block ">
				<input type="radio" name="type" value="1" title="菜单"  th:checked="${acl?.type eq 1 or acl eq null}  ? true : false " >
				<input type="radio" name="type" value="2" title="按钮" th:checked="${acl?.type } eq 2 ? true : false ">
			</div>
		</div>
        <div class="magb15 layui-col-md4 layui-col-xs12">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <!--<input type="checkbox" name="status" lay-skin="switch" lay-text="启用|禁用" th:checked="${acl?.status eq '1' or acl eq null}  ? true : false " >-->
                <input type="radio" name="status" value="1" title="启用"  th:checked="${acl?.status eq 1 or acl eq null}  ? true : false " >
                <input type="radio" name="status" value="2" title="禁用" th:checked="${acl?.status eq 2}  ? true : false ">
            </div>
        </div>
	</div>

    <div class="layui-form-item layui-form-text layui-row layui-col-xs12">
        <label class="layui-form-label">顺序</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="seq" th:value="${acl?.seq}" lay-verify="number" placeholder="1">
        </div>
    </div>
    <div class="layui-form-item layui-form-text layui-row layui-col-xs12">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
			<textarea name="remark" placeholder="请输入备注" class="layui-textarea" th:inline="text">[[${acl?.remark eq null ? '' : acl.remark}]]</textarea>
        </div>
    </div>
	<div class="layui-form-item layui-row layui-col-xs12">
		<div class="layui-input-block" style="text-align: center;">
			<button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="addacl">保存</button>
			<button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
		</div>
	</div>
</form>
<!--通用JS-->
<div th:replace="common/footer :: footer"></div>
<script type="text/javascript" src="../../../static/myJs/accessManage/acl/aclAdd.js" th:src="@{/myJs/accessManage/acl/aclAdd.js}"></script>
</body>
</html>